<h2 class="mb-5">Add new ingredient to <%= @recipe.name %></h2>
<%#= simple_form_for [@recipe, @ingredient] do |f| %>
  <%#= f.input :amount %>
  <%#= f.input :ingredient %>
  <%#= f.submit %>
<%# end %>
